<!doctype html>
<html lang="en">

  <body>
    <div class="container text-center">
      <h1>Demo</h1>
      <a href="pickgame.html" class="btn btn-outline-primary" tabindex="-1" role="button">Pick A Game</a>
    </div>
    {{bootstrap-scripts}}
  </body>
</html>